# Ruby / Rails
backend/.bundle
backend/log/
backend/tmp/
backend/storage/
backend/*.env
backend/.env*

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.env*
frontend/*.local

# OS
.DS_Store
